<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">
<channel>
	<title>Adam Laycock's Blog</title>
	<link>http://www.arcath.net/blog</link>
	<description>This is the blog of <%= link_to "Adam Laycock", "/" %>, an IT Engineer &amp; Web Developer from the North West of England.</description>
	<%= yield %>
</channel>
</rss>