<!DOCTYPE html>
<html>
<head>
	<title>Adam Laycock</title>
	<link rel="shortcut icon" href="https://secure.gravatar.com/avatar/4dea71e9df9a75bddd0c6aac8095065b?s=16">
	<link href="http://fonts.googleapis.com/css?family=Montserrat|Lato:300,500,700" rel="stylesheet" type="text/css">
	<%= stylesheet_link_tag "/assets/css/application.css" %>
</head>
<body>
	<%= yield %>
</body>
</html>
