/* Variables */
$site-width:900px;
$home-p-gap:100px;
$blog-p-gap:100px;

/* Styles */
body{
	font-family:lato, sans-serif;
	color:#444;
}

a{
	color:#9bf;
}

a:hover{
	color:#444;
	text-decoration:none;
}

#home{
	h1{
		text-align:center;
		font-size:100px;
		margin-bottom:0px;
	}
	
	.para{
		width:$site-width;
		margin:auto;
		
		.details{
			float:left;
			width:200px;
			text-align:right;
			margin-top:$home-p-gap;

			p{
				margin:0px;
				margin-bottom:30px;
			}
		}
		
		.content{
			float:left;
			margin-left:50px;
			width:($site-width - 250);
			margin-top:$home-p-gap;
			
			p{
				margin-top:0px;
				margin-bottom:30px;
			}
			
			ul{
				li{
					margin-bottom:10px;
					a{
						font-weight:bold;
						color:#444;
					}
				}
			}
		}
	}
	
	.last-para{
		div{
			margin-bottom:$home-p-gap;
		}
	}
}

#blog{
	.post{
		width:$site-width;
		margin:auto;
		
		.details{
			width:200px;
			float:left;
			margin-top:$blog-p-gap;
			text-align:right;
			
			p{
				margin-top:0px;
				margin-bottom:30px;
			}
		}
		
		.body{
			float:left;
			margin-left:50px;
			width:($site-width - 250);
			margin-top:$blog-p-gap;
			
			p{
				min-height:71px;
				margin-top:0px;
				margin-bottom:30px;
			}
		}
	}
}