/* Variables */
/* Styles */
body {
  font-family: lato, sans-serif;
  color: #444; }

a {
  color: #9bf; }

a:hover {
  color: #444;
  text-decoration: none; }

#home h1 {
  text-align: center;
  font-size: 100px;
  margin-bottom: 0px; }
#home .para {
  width: 900px;
  margin: auto; }
  #home .para .details {
    float: left;
    width: 200px;
    text-align: right;
    margin-top: 100px; }
    #home .para .details p {
      margin: 0px;
      margin-bottom: 30px; }
  #home .para .content {
    float: left;
    margin-left: 50px;
    width: 650px;
    margin-top: 100px; }
    #home .para .content p {
      margin-top: 0px;
      margin-bottom: 30px; }
    #home .para .content ul li {
      margin-bottom: 10px; }
      #home .para .content ul li a {
        font-weight: bold;
        color: #444; }
#home .last-para div {
  margin-bottom: 100px; }

#blog .post {
  width: 900px;
  margin: auto; }
  #blog .post .details {
    width: 200px;
    float: left;
    margin-top: 100px;
    text-align: right; }
    #blog .post .details p {
      margin-top: 0px;
      margin-bottom: 30px; }
  #blog .post .body {
    float: left;
    margin-left: 50px;
    width: 650px;
    margin-top: 100px; }
    #blog .post .body p {
      min-height: 71px;
      margin-top: 0px;
      margin-bottom: 30px; }
